/* Keyframes for typing effect */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width:25%;
    }
  }
  
  /* Keyframes for the blinking cursor */
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  
  /* Applying typing effect and blinking cursor to the span */
  .typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(50, end) forwards, blink 0.5s step-end 3;
    width: fit-content; /* Ensures the span shrinks to content */
  }
  